---
pagination:
    data: collections.artCategories
    size: 1
    alias: artCategory
permalink: "/category/{{ artCategory | slugify }}.html"
eleventyComputed:
    layout: layouts/main.html
    title: "Category: {{ artCategory }}"
---
{% import "components/gallery.njk" as c %}

<h2>Category: {{ artCategory }}</h2>

{%- set artworks = collections.artGallery | filterByArtTag("category", artCategory) | reverse -%}
<div class="gallery-grid">
  {%- for artwork in artworks %}
    {{ c.galleryItem(artwork.data.fileName, artwork.data.title, artwork.date) }}
  {% endfor -%}
</div>