{# Reusable components intended for the gallery feature #}

{# An entry in the gallery #}
{% macro galleryItem(fileName, title, date, altText) %}
<a class="gallery-link" href="/art/{{ title | slugify }}">
    <div class="gallery-item">
        <img class="gallery-item-art" src="/img/art/{{ fileName }}" width="500" sizes="auto" alt="{{ altText }}" eleventy:pictureattr:class="gallery-item-art"/>
        <p class="gallery-item-title"><b>{{ title }}</b></p>
        <p>{{ date | artDate }}</p>
    </div>
</a>
{% endmacro %}