---
layout: layouts/main.html
eleventyComputed:
    description: "Example artwork page for an art gallery website template made with Eleventy"
    ogImage: "art/{{ fileName }}"
    ogImageAlt: "{{ altText }}"
    summaryLargeImage: true
---
<div class="art-page-img-div">
    <img src="/img/art/{{ fileName }}" alt="{{ altText }}" onclick="openImgModal()"/>
</div>

<h2>{{ title }}</h2>
<p>{{ date | artDate }}</p>

<p class="p-categories"><span>Categories:</span>
{%- for cateId in categories %}
    {%- set category = "test" %}
    {%- for object in artCategories %}
        {%- if object.id == cateId %}
            {%- set category = object.name %}
        {%- endif %}
    {%- endfor %}
    <a class="art-tag" href="/category/{{ category | slugify }}/">{{ category }}</a>
{%- endfor %}
</p>

<p class="p-tags"><span>Tags:</span> {% for artTag in artTags %}<a class="art-tag" href="/tag/{{ artTag | slugify }}/">{{ artTag }}</a>{% endfor %}</p>

<hr class="hr-line">

{{ content | safe }}

<div id="img-modal" class="modal">
    <span class="modal-close" onclick="closeImgModal()">&times;</span>
    <img src="/img/art/{{ fileName }}" alt="{{ altText }}" class="modal-img" eleventy:pictureattr:class="modal-pict"/>
</div>

<script src="/scripts/imgModal.js" defer></script>