---
layout: layouts/main.html
---
<div class="art-page-img-div">
    <img src="/img/art/{{ fileName }}" onclick="openImgModal()"/>
</div>

<h2>{{ title }}</h2>
<p>{{ date | artDate }}</p>

<p class="p-categories"><span>Categories:</span> {% for category in categories %}<a class="art-tag" href="/category/{{ category | slugify }}">{{ category }}</a>{% endfor %}</p>

<p class="p-tags"><span>Tags:</span> {% for artTag in artTags %}<a class="art-tag" href="/tag/{{ artTag | slugify }}">{{ artTag }}</a>{% endfor %}</p>

<hr class="hr-line">

{{ content | safe }}

<div id="img-modal" class="modal">
    <span class="modal-close" onclick="closeImgModal()">&times;</span>
    <img src="/img/art/{{ fileName }}" class="modal-img"/>
</div>

<script src="/scripts/imgModal.js" defer></script>