/* This is the CSS file responsible for how the website looks, from the colors and fonts to the
positioning of HTML elements. */

/* The @font-face rule specifies a custom font, pointing to the source path of its font file.
Use it to add custom fonts. */
@font-face {
    font-family: "The Girl Next Door";
    src: url("/fonts/the-girl-next-door.woff2") format(woff2);
    font-style: none;
    font-weight: 400;
    font-display: swap; /* for performance */
}

/* This establishes variables for CSS properties, so that they can be
reused without manual copy and pasting. */
:root {
    --title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
    --font-size: 14px;
    --title-font-size: 48px;

    --wrapper-bg-color: #fcc0c0;
    --text-color: #3d000e;
    --box-link-color: #facdbb;
    --box-link-border-color: #c26e27;
    --box-link-text-color: #4d1800;

    --gallery-item-height: 250px;
    --gallery-item-width: 250px;
    --gallery-grid-gap: 30px;
    --gallery-item-total-width: calc(var(--gallery-item-width) + var(--gallery-grid-gap));
    --gallery-grid-columns: repeat(auto-fill, var(--gallery-item-total-width));

    /* Variables used by Pagefind */
    --pf-font: var(--body-font);
    --pf-results-display: grid;
    --pf-results-columns: var(--gallery-grid-columns);
    --pf-results-gap: var(--gallery-grid-gap);
    --pf-text-muted: var(--text-color);
}

/* BODY (the whole page) */
body {
    font-family: var(--body-font);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: #b51235;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* So scrollbar is hidden when the image modal is open */
body.modal-open {
    overflow: hidden;
}

/* WRAPPER (where the contents besides the background are) */
.wrapper {
    background-color: var(--wrapper-bg-color);
    width: 70%;
    min-height: 100dvh; 
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Maintains that the <b> and <i> tags still make text bold and italic
respectively */
b {
    font-weight: bold;
}

i {
    font-style: italic;
}

/* Global link color */
a {
    color: #5e0080;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 1.5em;
}

/* For links encompassing div elements so that their whole areas
can be clicked on */
.header-title-link, .gallery-link {
    display: block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.header-title-link {
    margin: auto;
    margin-bottom: 1.5em;
}

/* The header area containing the logo and title */
.header-title {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.logo {
    width: 125px;
    height: auto;
}

/* The text title */
.header-title-text {
    font-family: 'The Girl Next Door';
    font-size: var(--title-font-size);
    color: #9E005C;
}

/* PIPED LIST (horizontal lists with bars between items) */
.piped-list {
    padding: 0 0 0.5em 0;
    list-style-type: none;
    line-height: calc(var(--font-size) + 14px);
}

.piped-list li {
    display: inline;
    padding: 0 0.5em;
}

.piped-list li:first-child {
    padding-left: 0;
    padding-right: 0.5em;
}

.piped-list li:not(:first-child) {
    border-left: 1px solid var(--text-color);
}

/* SEARCH BAR */
/* So <form> element for search bar can be put
in the navigation bar */
#search-bar-form, #search-bar-form * {
    display: inline;
}

/* input refers to text box
button refers to button, of course */
input[type=search],
button[type=submit] {
    font-family: var(--body-font);
    border-radius: 0;
    padding: 2px 4px;
}

input[type=search] {
    border: 2px solid #998560;
    background-color: #faf4e6;
    color: #422b07;
}

input[type=search]::placeholder {
    color: #998560;
}

button[type=submit] {
    cursor: pointer;
    border: 2px solid #85672d;
    background-color: #faecbe;
    color: #3b2509;
}

/* MAIN (the main content of the page) */
main {
    flex: 1; /* So footer can stay at bottom */
}

/* Heading text besides the one in the page header */
h2, h3 {
    font-family: var(--title-font)
}

/* For <img> elements not used for anything fancy */
.left-plain-img {
    float: left;
    margin-right: 20px;
}

.right-plain-img {
    float: right;
    margin-left: 20px;
}

/* GALLERY */
.gallery-grid, .pf-results {
    display: grid;
    grid-template-columns: var(--gallery-grid-columns);
    grid-auto-rows: var(--gallery-item-total-width);
    gap: var(--gallery-grid-gap);
    justify-content: center !important;
}

.gallery-link {
    width: fit-content;
    color: var(--box-link-text-color);
}

.gallery-item {
    height: var(--gallery-item-height);
    width: var(--gallery-item-width);
    border: 3px solid var(--box-link-border-color);
    background-color: var(--box-link-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gallery-item-art,
.gallery-item-art-placeholder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: auto;
    flex: 1;
}

picture.gallery-item-art {
    overflow: hidden;
}

/* For placeholder search results */
.gallery-item-art-placeholder {
    background-color: var(--box-link-border-color);
}

.gallery-item p {
    margin-top: 10px;
    margin-bottom: 0;
}

.gallery-item-title {
    font-family: var(--title-font);
    font-size: calc(var(--font-size) + 1px);
    /* So number of lines in title is kept to 2 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.gallery-nav {
    padding: 30px 0;
    text-align: center;
}

/* CATEGORIES LIST (rest of properties in PIPED LIST section;
this is so that you can scroll it horizontally) */
#category-list {
    overflow-x: auto;
    white-space: nowrap;
}

/* HORIZONTAL LINE (so it's always presented as a line,
and plus with the custom color) */
hr.hr-line {
    border: none;
    border-top: 1px solid var(--text-color);
}

/* ARTWORK PAGE */
/* Categories and tags sections */
.p-categories, .p-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
}

/* Contrary to class name, this applies to categories too */
.art-tag {
    display: inline-block;
    border: 2px solid var(--box-link-border-color);
    background-color: var(--box-link-color);
    color: var(--box-link-text-color);
    text-decoration: none;
    padding: 2px;
}

.art-tag:not(:last-child) {
    margin-right: 3px;
}

/* The art image itself */
.art-page-img-div {
    height: 450px;
    width: fit-content;
    margin: auto;
}

/* <picture> element is specified due to how image optimization works */
.art-page-img-div picture {
    height: 100%;
    width: 100%;
}

.art-page-img-div img {
    object-fit: scale-down;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

/* Modal for zooming in on the art image */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--wrapper-bg-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overscroll-behavior: contain;
}

/* When modal has "show" CSS class attached and thus can show */
.modal.show {
    display: flex;
    opacity: 1;
}

.modal-pict {
    position: relative;
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--text-color);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* SEARCH PAGE */
.search-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

pagefind-results {
    font-size: var(--font-size);
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 25px;
}

/* RESPONSIVENESS ON MOBILE SCREENS */
@media only screen and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }

    /* Header logo and title are shrunk to make them fit more */
    .header-title {
        gap: 13px;
    }

    .logo {
        width: 75px;
    }

    .header-title-text {
        font-size: calc(var(--title-font-size) - 16px);
    }
}

/* RESPONSIVENESS ON TABLET SCREENS */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .header-title {
        gap: 40px;
    }

    .logo {
        width: 100px;
    }

    .header-title-text {
        font-size: calc(var(--title-font-size) - 8px);
    }
}